

body{
font-family:'Inter', sans-serif;
}
.banner h1{
    font-family:'Raleway',sans-serif;
}
/* shared style */
.text-primary{
    color: #ffd700;
}
.parent{
    position: relative;
    height: 1200px;
}
.header{
    background-image:url(Assets/Hero-bg.png);
     background-size: cover;
    height: 698px;
    gap: 158px;
}

/* Nav styles */
nav{
    display: flex;
    width: 1140px;
    height: 151px;
    margin:50px 150px;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    gap:auto; 
}

/* nav title */
.nav-title{
    font-weight: 99px;
    height: 51px;
    font-weight: bold;
    color: #4e47ff;
    font-size: 34px;
    line-height: 150%;}

    /* nav ul */

nav ul{
    display: flex;
}
nav ul li {
    list-style: none;
}
nav ul li a{
    width: 132px;
    height:48px;
    gap: 16px;}

    /* signup button */
    .signup-btn {
    background-color:#4e47ff;
    font-weight:bold;
    font-size: 16px;
    color:#ffffff;
    border: none;
    padding: 12px 36px;
    border-radius:10px;
    cursor: pointer;
}
.signup-btn:hover{
    background-color:rgb(255, 255, 0);
    color: blue;
}
/* banner style */

.banner{ 
font-weight: bold; 
font-size: 30px;
width: auto;
height: auto;
gap: 37px;
text-align: center;
* margin: 109px 268px 152px 268px;
}

 /* action section */

 .action{
    padding: 80px;
 }
.action-heading{width: 1140px;
    height: 328px;
    margin: 0 auto;
    display: flex;
align-items: center;
justify-content: space-between;
gap: 40px;
}
.action .text h2 {
    font-size: 42px;
    color: rgb(90, 14, 14);
    font-family: "Raleway",sans-serif;
} 
.action.text p{
    font-size: 24px;
    color: #252432;
    font-family: "Inter" sans-serif;
    width: 517px;
    height: 60px;
    text-align: center;
}

.action .image img {
    max-width:70%;
    border-radius: 20px;
    border-image: round;
    height: auto;
    text-align: right;
}


 /* stats section */
 .stats-section{
    background-color: #4e47ff1a;
    padding: 60px 0;
    border-radius: 20px;
 }
 .stats-container{
    width: 1140px;
    height: 306px;
    margin: auto;
    text-align: center; 
 }
 .stats-title{
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 40px;
    font-family:'Raleway',sans-serif;
 }
 .stats-box{
    display: flex;
    justify-content: space-between;
    gap: 30px;
 }
 .stat{
    padding: 30px;
    border-radius: 10px;
    
 }
.stat h3 {
    font-size: 60px;
    font-weight: bold;
    color: #4e47ff;
    margin-bottom: 2px;
    font-family: 'Raleway'sans-serif;
 }
 .stat p{
    font-size: 20px;
    color: #666;
    font-family: 'Inter'sans-serif;
 }
/*  user feedback  */

.feedback-section{
   background-color: #f9f9f9;
    padding: 60px 20px;
    text-align: center;
}
.feedback-section h2{ font-size:42px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Raleway'sans-serif;
 }


.feedback-container{
    display: flex;
    justify-content: center;
    color: #333;
}
.feedback-card{
    padding: 30px;
    border-radius: 10px;
    max-width: 300px;
    text-align: left;
    font-size: 15px;
    color: #555;
    /* box-shadow: 0 4px 15px; */
}
.stars{
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}
.stars img{
    width: 18px;
    height: 18px;
}
.feedback-card{
    margin: 10px;
    gap:20px;
    background-color:#fefeff;
    background: rgba(255,255,255,0.6);}


.reviewer{
    display: flex;
    align-items: center;
    text-align: left;
    gap: 10px;
    margin-top: 20px;
   
}
.reviewer img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.date{
    font-weight: bold;
    color: #888;
}
.name{
    font-weight: bold;
    font-size: 15px;
}
 /*focus better section */
.focus-area{
    background-color:hsl(0, 5%, 93%);
}
 .small-letter p{

    height: 50px;
    text-align: center;
    font-size: 13px;
 font-style:normal;
 text-decoration: none;
 text-align: center;
 }

 .images img{
    max-height: 840px;
    height: 364px;
    object-fit: cover;
    border-radius: 20px;
    text-align: center;
 }
 .started-btn{
    margin-top: 10px;
    margin-bottom: 30px;
    background-color:#4e47ff;
    font-weight:bold;
    font-size: 16px;
    color:#ffffff;
    border: none;
    padding: 12px 36px;
    border-radius:10px;
    cursor: pointer;
 }
 .started-btn:hover{
    background-color:rgb(255, 255, 0);
    color: blue;
 }